.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.list-block {
    display: flex;
}
.block {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border: 1px solid black;
    margin-right: 10px;
}