.container {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.closeIconContainer {
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.closeIcon {
    width: 10px;
    height: 10px;
}
.title {
    font-weight: 700;
    font-size: 18px;
}
.body {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.text {
    font-weight: 700;
    font-size: 18px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 20px
}
.btn {
    cursor: pointer;
    border: 1px solid black;
    margin-left: 20px;
    padding: 3px 15px;
}
