.dropMenuElementContainer {
  cursor: pointer;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }
.dropMenuElementText {
    font-size: 16px;
    font-weight: 400;
}
  
  