.active {
    opacity: 1;
    pointer-events: all;
}

.hidden {
    opacity: 0;
    pointer-events: none;
}
.windowBlock {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    cursor: default;
    z-index: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    background-color: rgba(0, 0, 0, 0.61);
}

.innerBlock {
    max-width: 800px;
    width: 100%;
    margin: 0 15px;
    border-radius: 10px;
    transition: 0.3s;
    background-color: white;
}

.activeModal {
    scale: 1;
}
.hiddenModal {
    scale: 0.5;
}