.container {
    display: flex; 
    position: absolute; 
    z-index: 50; 
    background-color: white; 
    flex-direction: column; 
    align-items: center; 
    border-radius: 0.5rem; 
    filter: drop-shadow(0 4px 3px rgba(0, 0, 0, 0.07)) drop-shadow(0 2px 2px rgba(0, 0, 0, 0.06)); 
}
