.table-item {
    text-align: center;
    padding: 20px 40px;
    margin: 0 auto;
    border: 1px solid black;
}
.block-img {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}
.img {
    margin-top: 3px;
    width: 16px;
    height: 16px;
}
.btn-img {
    cursor: pointer;
    margin-right: 5px;
    padding: 5px 8px;
    border: 1px solid black
}

.red-squre {
    margin: auto;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: rgb(156, 0, 0);
}
.green-squre {
    margin: auto;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: rgb(6, 122, 0);
}