.container {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
}
.left-block-text {
    margin-left: 30px;
    font-size: 16;
    font-weight: 700;
    color: white;
}
.rigth-block {
    margin-right: 30px;
    min-height: 100%;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rigth-block-text {
    color: white;
    cursor: pointer;
}
.rigth-block-icon {
    width: 100%;
    object-fit: contain;
}
.rigth-block-avatar {
    height: 60px;
    display: flex;
    align-items: center;
}
.bell-icon-block {
    width: 25px;
    display: flex;
    height: 60px;
    margin-top: 5px;
    cursor: pointer;
    border-radius: 100%;
    position: relative;
   
}
.red-circle {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 8px;
    height: 8px;
    background-color: rgb(237, 99, 49);
    border-radius: 100%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: myAnim;
}
.user-icon-block {
    margin-right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    border: 2px solid transparent;
    transition: all 0.15s;
}
.user-icon-block:hover {
    border: 2px solid white
}
.bell-icon {
    width: 100%;
    object-fit: contain;
}
.dropMenuProfile {
    z-index: 20;
    height: 85px;
    width: 200px;
    right: 20px;
    top: 55px;
}

.dropMenuBell {
    z-index: 20;
    height: 205px;
    width: 270px;
    left: -50px;
    top: 55px;
}
  

@keyframes myAnim {
    0% {
      top: 20px;
    }
    10% {
      top: 0px;
    }
    20% {
        top: 20px;
    }
    25% {
        top: 10px; 
    }
    30% {
        top: 20px
    }
    35% {
        top: 17px
    }
    40% {
        top: 20px
    }
    100% {
        top: 20px;
    }
  }

