.flex-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.students-table-block {
    width: 80%;
}
.students-table-block-text {
    margin-top: 40px;
    font-size: 32px;
    color: black;
    margin-bottom: 40px;
}
@media (max-width: 1200px) {
    .flex-block {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }
    .students-table-block {
        padding: 0 20px;
        width: 100%;
    }
}