.container {
    width: 200px;
    display: flex;
    justify-content: center;
}

.list {
    margin-top: 20px;
}

.link-text {
    font-size: 22px;
    color: rgb(82, 82, 82);
    margin-top: 20px;
    font-weight: 600;
}