.container {
    max-width: 100%;
    border-radius: 10px;
    border: 1px solid black;
}
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.closeIconContainer {
    cursor: pointer;
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}
.closeIcon {
    width: 10px;
    height: 10px;
}
.title {
    font-weight: 700;
    font-size: 18px;
}
.body {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}
.text {
    font-weight: 700;
    font-size: 18px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    padding: 20px
}
.btn {
    cursor: pointer;
    border: 1px solid black;
    margin-left: 20px;
    padding: 3px 15px;
}
.disabledBtn {
    color: rgb(139, 139, 139);
    border: 1px solid rgb(139, 139, 139);
    margin-left: 20px;
    padding: 3px 15px;
}
.inputs {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.input {
    width: 200px;
}
.inputBlock {
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
}

.inputText {
    font-size: 18px;
    font-weight: 700;
    width: 150px;
}
.optionText {
    font-size: 14px;
    font-weight: normal;
}
