.dropMenuElementContainer {
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 0px;
  }
.dropMenuElementText {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
.leftBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.userImg {
    height: 30px;
    width: 30px;
}
.messageBlock {
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(198, 198, 198);
    margin-bottom: 5px;
}
  
  