.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 100px 50px 100px;
}

.table-item {
    text-align: center;
    padding: 20px 40px;
    margin: 0;
    border: 1px solid black;
}

.add-student-container {
    /* width: 100%; */
    display: flex;
    justify-content: flex-end;
}

.add-student-btn {
    margin-bottom: 10px;
    width: fit-content;
    cursor: pointer;
    padding: 5px 8px;
    border: 1px solid black
}

.add-img {
    margin-top: 3px;
    width: 16px;
    height: 16px;
}

@media (max-width: 1000px) {
    .table-container {
        padding: 0 20px 50px;
    }
    .table-item {
        padding: 20px 20px;
    }
}
